binds {
    Alt+D hotkey-overlay-title="Default Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+E hotkey-overlay-title="启动文件管理器" { spawn "nautilus"; }
}
