[Unit]
Description=Clavis Shell
Documentation=https://github.com/archirithm/Clavis
Requisite=niri.service
PartOf=niri.service
After=niri.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=key shell --foreground --no-duplicate
Restart=on-failure
RestartSec=2
TimeoutStopSec=10

[Install]
WantedBy=niri.service
