* {
    background-image: none;
    font-family: "LXGW WenKai GB Screen";
    font-size: ${fntSize}px;
}

window {
    background-color: transparent;
}

button {
    color: ${OnSurface};
    background-color: alpha(${Surface}, ${ButtonOpacity});
    outline-style: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    color: ${OnPrimaryContainer};
    background-color: alpha(${PrimaryContainer}, ${ButtonOpacity});
    background-size: 20%;
}

button:hover {
    color: ${OnPrimaryContainer};
    background-color: alpha(${PrimaryContainer}, ${ButtonOpacity});
    background-size: 25%;
    border-radius: ${activeRad}px;
    transition: all 0.3s cubic-bezier(.55, 0, .28, 1.682);
}

button:hover#lock {
    border-radius: ${activeRad}px ${activeRad}px 0 ${activeRad}px;
    margin: ${hoverY}px 0 0 ${hoverX}px;
}

button:hover#logout {
    border-radius: ${activeRad}px 0 ${activeRad}px ${activeRad}px;
    margin: 0 0 ${hoverY}px ${hoverX}px;
}

button:hover#shutdown {
    border-radius: ${activeRad}px ${activeRad}px ${activeRad}px 0;
    margin: ${hoverY}px ${hoverX}px 0 0;
}

button:hover#reboot {
    border-radius: 0 ${activeRad}px ${activeRad}px ${activeRad}px;
    margin: 0 ${hoverX}px ${hoverY}px 0;
}

#lock {
    color: ${OnLockContainer};
    background-color: alpha(${LockContainer}, ${ButtonOpacity});
    background-image: url("${assetDir}/icons/lock_${iconTone}.png");
    border-radius: ${buttonRad}px 0 0;
    margin: ${marginY}px 0 0 ${marginX}px;
}

#logout {
    background-image: url("${assetDir}/icons/logout_${iconTone}.png");
    border-radius: 0 0 0 ${buttonRad}px;
    margin: 0 0 ${marginY}px ${marginX}px;
}

#shutdown {
    background-image: url("${assetDir}/icons/shutdown_${iconTone}.png");
    border-radius: 0 ${buttonRad}px 0 0;
    margin: ${marginY}px ${marginX}px 0 0;
}

#reboot {
    background-image: url("${assetDir}/icons/reboot_${iconTone}.png");
    border-radius: 0 0 ${buttonRad}px;
    margin: 0 ${marginX}px ${marginY}px 0;
}
