* {
    background-image: none;
    font-family: "LXGW WenKai GB Screen";
    font-size: ${fntSize}px;
}

window {
    background-color: transparent;
}

button {
    color: ${OnSurface};
    background-color: alpha(${Surface}, ${ButtonOpacity});
    outline-style: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    color: ${OnPrimaryContainer};
    background-color: alpha(${PrimaryContainer}, ${ButtonOpacity});
    background-size: 30%;
}

button:hover {
    color: ${OnPrimaryContainer};
    background-color: alpha(${PrimaryContainer}, ${ButtonOpacity});
    background-size: 40%;
    border-radius: ${activeRad}px;
    transition: all 0.3s cubic-bezier(.55, 0, .28, 1.682);
}

button:hover#lock {
    margin: ${hoverMargin}px 0 ${hoverMargin}px ${margin}px;
}

button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#hibernate {
    margin: ${hoverMargin}px 0;
}

button:hover#reboot {
    margin: ${hoverMargin}px ${margin}px ${hoverMargin}px 0;
}

#lock {
    color: ${OnLockContainer};
    background-color: alpha(${LockContainer}, ${ButtonOpacity});
    background-image: url("${assetDir}/icons/lock_${iconTone}.png");
    border-radius: ${buttonRad}px 0 0 ${buttonRad}px;
    margin: ${margin}px 0 ${margin}px ${margin}px;
}

#logout {
    background-image: url("${assetDir}/icons/logout_${iconTone}.png");
    margin: ${margin}px 0;
}

#suspend {
    background-image: url("${assetDir}/icons/suspend_${iconTone}.png");
    margin: ${margin}px 0;
}

#shutdown {
    background-image: url("${assetDir}/icons/shutdown_${iconTone}.png");
    margin: ${margin}px 0;
}

#hibernate {
    background-image: url("${assetDir}/icons/hibernate_${iconTone}.png");
    margin: ${margin}px 0;
}

#reboot {
    background-image: url("${assetDir}/icons/reboot_${iconTone}.png");
    border-radius: 0 ${buttonRad}px ${buttonRad}px 0;
    margin: ${margin}px ${margin}px ${margin}px 0;
}
